#about {
    display: flex;
    color: white;
    padding-top: 248px;
}

#about .container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#about .title {
    position: absolute;
    font-size: 70px;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 2px;
    text-shadow: -8px 4px black;
    text-decoration: underline solid white 3px;
    text-underline-offset: 10px;

    @media (min-width: 900px){
        left: 200px;
    }
}
#about .descriptionBorder{
    background: rgba(0, 0, 0, 0.345);
    border: solid 1px white;
    border-radius: 80px;
    outline: 5px white;
    padding: 100px 50px;
    color: white;
    max-width: 900px;
    height: auto;
    margin: 150px auto 0px auto;
    @media (min-width: 768px) {
        font-size: 28px;
    }

}
#about .description {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-size: 20px;
    @media (min-width: 768px){
        font-size: 28px;
    }

}
#about .description div {
    margin-bottom: 20px;
}