.navigation {
    display: inline-flex;
    top: 30px;
    position: relative;
    flex-direction: row;

    @media (max-width: 700px) {
        flex-direction: column;
    }
}
.header {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 25px;
    flex-direction: column;

    @media (min-width: 700px) {
            flex-direction: row;
        }
    @media (min-width: 900px) {
        font-size: 30px;
    }

}

.headerBttn{
    @media (min-width: 600px){
        margin-right: 20px;
    }
    @media (max-width: 900px) {
        margin-bottom: 10px;
    }
}

.header div {
    display: flex;
    width: fit-content;
    background: rgba(0, 0, 0, 0.132) ;
    border:solid 1px white ;
    border-radius: 50px;
    outline: 5px white;
    padding: 8px;
    
}
.header div:hover{
    background: rgba(0, 0, 0, 0.531);
}
.header a {
    margin: 3px;
    filter: blur(0);
    text-decoration: none;
    color: white;
}

.navigation .MuiButtonBase-root.MuiIconButton-root{
    color: white;
}
.navigation .iconBttns {
    display: flex;

}