#work {
    display: flex;
    color: white;
    padding-top: 248px;
}

#work .container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#work .title {
    color: white;
    position: absolute;
    font-size: 70px;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 2px;
    text-shadow: -8px 4px black;
    text-decoration: underline solid white 3px;
    text-underline-offset: 10px;

    @media (min-width: 900px) {
        left: 200px;
    }
}
#work .Delta {
    display: flex;
    margin-top: 150px;
    flex-direction: row;
    @media (max-width: 1280px){
        flex-direction: column;
        align-items: center;
    }
}

#work .Delta .description {
    background: rgba(0, 0, 0, 0.345);
    border: solid 1px white;
    border-radius: 80px;
    outline: 5px white;
    padding: 50px 50px;
    color: white;
    max-width: 600px;
    height: fit-content;
    margin-right: 20px;
    @media (min-width: 1280px) {
        min-width:600px;
    }
}
#work .Delta .description div{
    margin-bottom: 15px;
    text-align: left;
}

#work .carouselBox {
    position: relative;
    width: 550px;
    @media (max-width: 1280px) {
        margin-top: 50px;
    }
}
.carousel-indicators {
    visibility: hidden;
}
.carousel.slide{
    overflow: hidden;
}
.carousel-inner {
    height: 500px;
}
.carousel-control-prev{
    visibility: hidden;
}
.carousel-control-next {
    visibility: hidden;
}
.carousel-item{

}
